@font-face {
  font-family: "akira";
  src: url("../fonts/AkiraExpanded.otf") format("opentype");
}
body {
  font-family: akira, serif;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  background-color: black;
  height: 200vh;
  overflow-x: hidden;
  color: white;
}

#color {
  position: fixed;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

#menu {
  padding: 5% 5% 0 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0;
}

#menu p {
  animation-duration: 1s;
  animation-fill-mode: both;
  cursor: pointer;
  animation-name: fadeInright;
  margin-bottom: 10px;
}

#menu p a {
  text-decoration: none;
  color: white;
}

#menu :nth-child(1) {
  animation-delay: 0.25s;
}

#menu :nth-child(2) {
  animation-delay: 0.5s;
}

#menu :nth-child(3) {
  animation-delay: 0.75s;
}

#menu :nth-child(4) {
  animation-delay: 1s;
}

#title {
  font-size: 3.5rem;
  margin: 5% 5% 5% 5%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
  letter-spacing: 0.5px;
}

#title2 {
  font-size: 1.5rem;
  margin: 5% 5% 5% 5%;
  letter-spacing: 0.5px;
}

.acceuil {
  -webkit-text-stroke: 1px #504F59;
  color: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  right: -11%;
  bottom: 25%;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 35%;
  max-width: 640px;
  height: 40px;
  top: 470px;
}

.acceuil span {
  position: absolute;
  letter-spacing: 3px;
}

#fonctionnement {
  font-size: 2.5rem;
  margin: 10% 5% 10% 5%;
}

#wheel {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#our {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.in {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0;
}

#portfolio {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#confiance {
  font-size: 2.5rem;
  margin: 10% 5% 5% 5%;
}

.portfolio {
  -webkit-text-stroke: 1px #504F59;
  color: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 40px;
  left: -17%;
  width: 48%;
  top:285%;
}

.portfolio span {
  position: absolute;
  letter-spacing: 3px;
}

#nomsoc {
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Antonio';font-size: 22px;
}

#nomsoc h1 {
  font-size: 1.5rem;
  cursor: pointer;
}

#nomsoc p {
  font-size: 0.7rem;
  color: #504F59;
}

#nomsoc svg {
  width: 100%;
}

#display {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 97px;
  margin-right: 5%;
}

#img_display {
  width: 100%;
  background: #C4C4C4;
  border-radius: 97px;
  margin-bottom: 10%;
}

#nomsoc > div:nth-of-type(1), #nomsoc > svg:nth-of-type(1) {
  animation-delay: 0.25s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(2), #nomsoc > svg:nth-of-type(2) {
  animation-delay: 0.5s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(3), #nomsoc > svg:nth-of-type(3) {
  animation-delay: 0.75s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(4), #nomsoc > svg:nth-of-type(4) {
  animation-delay: 1s;
  opacity: 0;
}

#nomsoc > svg:nth-of-type(5) {
  animation-delay: 1.25s;
  opacity: 0;
}

#menu :nth-child(1) {
  animation-delay: 0.25s;
}

#menu :nth-child(2) {
  animation-delay: 0.5s;
}

#menu :nth-child(3) {
  animation-delay: 0.75s;
}

#menu :nth-child(4) {
  animation-delay: 1s;
}

.fadeInBottom {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

.fadeInright {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInright;
}

.fadeInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInright {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width: 980px) {
  #title {
    font-size: 3rem;
  }
}
@media all and (max-width: 740px) {
  #title {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
